# Dependencias
node_modules/
bower_components/

# Archivos de construcción
dist/
output/
output-es/
.spago/
.pulp-cache/
.purescript/
.psc-package/
.purs*
.psa*
.spago.lock

# Parcel
.parcel-cache/

# Archivos generados
generated-docs/

# Repl e IDE
.psc-ide-port
.purs-repl

# Archivos del sistema
.DS_Store
*.log
