@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

.cabecera {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.contenedor-principal {
  display: flex;
  min-height: calc(100vh - 60px); /* altura total menos la cabecera */
}

.menu-lateral {
  width: 200px;
  background-color: #f4f4f4;
  padding: 1rem;
  border-right: 1px solid #ccc;
}

.contenido {
  flex: 1;
  padding: 1rem;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
}